h1{

color: rgb(9, 88, 88);
text-align: center;
background-color: black;
line-height: 50px;

}
img{
    width: auto;
    height: auto;
    border-radius: 10px;
    
}

h1:hover{

background-color: rgb(33, 128, 96);
color: rgb(139, 8, 85);

}