form  {

background-color: rgb(99, 105, 109);
width: 40%;
margin: 0 auto;
padding: 30px;
border-radius:10px;
box-shadow: 0 0 8px;
}

legend {

    font-size: 30px;
    text-align:center;
    font-weight: bold;

}
input[type="text"],input[type="email"],input[type="password"],input[type="tel"],
input[type="date"],input[type="datetime-local"],input[type="file"],

select {
    width: 100%;
    height: 40px;
    border-radius: 10px;
    padding-left:10px;
    border: none;




}

body{
background-image: url("../images/ecommerce.jpeg");
background-repeat: no-repeat;
background-size: cover;


}



